.Eaction-box {
  background: #1d243d;
  padding: 14px;
  border-radius: 12px;
  cursor: pointer;
  width: 190px;
  
  transition: all 0.25s ease;
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}

.Eaction-box:hover {
  transform: translateY(-5px);
  background: #16225a;
  border: 1px solid #00ffaa55;
}

.Eaction-bar {
  display: flex;
  gap: 12px;
  align-items: center;
}

.Eicon-squre {
  background: #1f2a4a;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  color: #00ffaa;
}

.EAction h2 {
  font-size: 16px;
  color: #e6f1ff;
  margin: 0;
}

.EAction p {
  font-size: 12px;
  color: #aaa;
  margin: 2px 0 0;
}

.Eaction-btn {
  margin-top: 12px;
  width: 100%;
  background: #00ffaa;
  border: none;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s;
}

.Eaction-btn:hover {
  background: #00cc88;
}



.Eaction-box {
  background: #1d243d;
  padding: 14px;
  border-radius: 12px;
  cursor: pointer;
  width: 190px;
  height: 110px;

  transition: all 0.3s ease;
  border: 1px solid transparent;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Eaction-box:hover {
  transform: translateY(-5px) scale(1.03);
  background: #16225a;
  border: 1px solid #00ffaa55;
}

.Eaction-box.active {
  width: 240px;
  height: 140px;

  background: linear-gradient(135deg, #16225a, #1f2a4a);
  border: 1px solid #00ffaa;

  box-shadow: 0 0 20px #00ffaa33;

  transform: scale(1.05);
}

.Eicon-squre {
  background: #1f2a4a;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  color: #00ffaa;
  transition: 0.3s;
}

.Eaction-box.active .icon-squre {
  background: #00ffaa;
  color: #0a0f2c;
}

.EAction h2 {
  font-size: 16px;
  color: #e6f1ff;
  margin: 0;
  transition: 0.3s;
}

.EAction p {
  font-size: 12px;
  color: #aaa;
  margin: 2px 0 0;
}

.Eaction-box.active h2 {
  color: #00ffaa;
}

.Eaction-btn {
  margin-top: 12px;
  width: 100%;
  background: #00ffaa;
  border: none;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s;
}

.Eaction-btn:hover {
  background: #00cc88;
}

.Eaction-box.active .action-btn {
  padding: 10px;
  font-size: 14px;
}