.explore-layout {
  display: flex;
  height: 100vh;
   background: linear-gradient(90deg, #00aaff, #00ffcc);
   background-clip: text;
  -webkit-background-clip: text;
 
}

.left-panel {
  width: 15%;
  min-width: 200px;
  height: 95%;
}

.center-panel {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 95%;
  margin-left: 10px;
  
 
}

.right-panel {
  width: 20%;
  height: 95%;
 
}



.analysis-selection {
  min-width: 260px;
  min-height: 320px;
  border: 2px solid #1f2a48;
  border-radius: 12px;
   background: linear-gradient(
    145deg,
    rgba(25, 36, 59, 0.92),
    rgba(20, 29, 49, 0.97)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.analysis-box {
  display: flex;
  gap: 20px;

  justify-content: center;
  align-items: center;
  padding: 12px;

   margin-top: 20px;

   
   background: linear-gradient(
    145deg,
    rgba(25, 36, 59, 0.92),
    rgba(20, 29, 49, 0.97)
  );
  border-radius: 12px;

  box-shadow: 0 0 15px rgba(0, 234, 255, 0.08);
  transition: 0.3s;
  width: 97%;

}


.analysis-container:hover {
  box-shadow: 0 0 25px rgba(0, 234, 255, 0.15);
}


@media (max-width: 900px) {
  .analysis-container {
    flex-direction: column;
  }
} 