.input {
  background-color: #212121;
  width: 100%;              /* 🔥 full responsive */
  height: 40px;
  padding: 10px;

  border: 2px solid white;
  border-radius: 5px;

  font-size: 14px;
  color: white;
   display: flex;
   justify-content: center;
   align-items: center;
  box-sizing: border-box;   /* 🔥 important */
}

.input:focus {
  color: rgb(0, 255, 255);
  background-color: #212121;
  outline-color: rgb(0, 255, 255);
  box-shadow: -3px -3px 15px rgb(0, 255, 255);

  transition: .1s;
  transition-property: box-shadow;
}

.input input {
  width: 100%;
  background: transparent;
  border: none;       
  outline: none;            
  color: white;      
}